<!DOCTYPE html>
<html class=" touchevents"><head>
	<title>小蚁</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">

	<link href="../css/base.min.css" rel="stylesheet">
	<link href="../css/project.min.css" rel="stylesheet">
</head>
<body class="page-brand">
	<main class="content">
		<div class="content-header ui-content-header" style="background-image: url(../css/images/bg/nothing.jpg.jpg); text-align: center">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="content-heading" style="font-family: Microsoft Yahei;">小 蚁</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
					<section class="content-inner margin-top-no">
							<div class="tile-wrap">
								<div class="card-inner" style="text-align: center">
									<div class="tile">
										<div class="tile-inner" style="text-align: left;">
											<p style="font-family: Microsoft Yahei; font-size: 22px;">请选择登录方式：</h1>
										</div>
									</div>
									<div class="tile">
										<div class="tile-side pull-left">
											<img src="../images/wechat.png" />
										</div>
										<div class="tile-inner">
											<p style="font-family: Microsoft Yahei; font-size: 18px;">微信帐号登录</h1>
										</div>
									</div>
									<div class="tile">
										<div class="tile-side pull-left">
											<img src="../images/alipay.png" />
										</div>
										<div class="tile-inner">
											<p style="font-family: Microsoft Yahei; font-size: 18px;">支付宝帐号登录</h1>
										</div>
									</div>
								</div>
							</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<!-- js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="../js/base.min.js"></script>
	<script src="../js/project.min.js"></script>
</body>
</html>