<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>小蚁</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">
	<link href="../css/project.min.css" rel="stylesheet">
	
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<header class="header header-transparent header-waterfall ui-header">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#ui_menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="index.html" style="font-family: Microsoft Yahei;">小蚁</a>
		<ul class="nav nav-list pull-right">
			<li class="dropdown margin-right">
				<a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
					<span class="access-hide">John Smith</span>
					<span>Jane Doe</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">exit_to_app</span>我的订单</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>设置</a>
					</li>
				</ul>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1" style="font-family: Microsoft Yahei;">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="main.html">小蚁</a>
				<ul class="nav">
					<li><a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_extras">主页</a></li>

					<li><a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_extras">发现</a></li>

					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_components">主题市场</a>
						<ul class="menu-collapse collapse" id="ui_menu_components">
							<li><a class="waves-attach">女装男装</a></li>
							<li><a class="waves-attach">鞋类箱包</a></li>
							<li><a class="waves-attach">母婴用品</a></li>
							<li><a class="waves-attach">护肤彩妆</a></li>
							<li><a class="waves-attach">汇吃美食</a></li>
							<li><a class="waves-attach">珠宝配饰</a></li>
							<li><a class="waves-attach">家装建材</a></li>
							<li><a class="waves-attach">家居家纺</a></li>
							<li><a class="waves-attach">百货市场</a></li>
							<li><a class="waves-attach">汽车·用品</a></li>
							<li><a class="waves-attach">手机数码</a></li>
							<li><a class="waves-attach">家电办公</a></li>
							<li><a class="waves-attach">更多服务</a></li>
							<li><a class="waves-attach">生活服务</a></li>
							<li><a class="waves-attach">运动户外</a></li>
							<li><a class="waves-attach">花鸟文娱</a></li>
							<li><a class="waves-attach">农资采购</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="content">
		<div class="content-header ui-content-header" style="background-color: #ff6401;" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="content-heading" style="font-family: Microsoft Yahei; font-size: 32px">最新热卖</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
					<section class="content-inner margin-top-no">
						<div class="ui-card-wrap">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<div class="card">
										<div class="card-main">
											<div class="card-img">
												<img alt="alt text" src="../images/samples/dove.jpg" style="width: 100%;">
											</div>

											<div class="card-header">
												<div class="card-inner">
													<span class="card-heading" style="font-family: Microsoft Yahei;">德芙巧克力（盒装）<span class="card-heading pull-right" style="color: #F40">¥ 36.90</span></span>
												</div>
											</div>
											<div class="card-inner" style="font-family: Microsoft Yahei;">
												<p>纵享德芙新丝滑</p>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-sm-6">
									<div class="card">
										<div class="card-main">
											<div class="card-img">
												<img alt="alt text" src="../images/samples/chair.jpg" style="width: 100%;">
											</div>

											<div class="card-header">
												<div class="card-inner">
													<span class="card-heading" style="font-family: Microsoft Yahei;">小板凳<span class="card-heading pull-right" style="color: #F40">¥ 79.00</span></span>
												</div>
											</div>
											<div class="card-inner" style="font-family: Microsoft Yahei;">
												<p>限量版小板凳</p>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-sm-6">
									<div class="card">
										<div class="card-main">
											<div class="card-img">
												<img alt="alt text" src="../images/samples/bottle.jpg" style="width: 100%;">
											</div>

											<div class="card-header">
												<div class="card-inner">
													<span class="card-heading" style="font-family: Microsoft Yahei;">奶瓶<span class="card-heading pull-right" style="color: #F40">¥ 89.25</span></span>
												</div>
											</div>
											<div class="card-inner" style="font-family: Microsoft Yahei;">
												<p>赵怡然的奶瓶</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" data-toggle="dropdown" style="background-color: #ff6401;"><span class="fbtn-text fbtn-text-left">Links</span><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropup">
				<a class="fbtn waves-attach waves-circle" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text fbtn-text-left">Fork me on GitHub</span><span class="icon">code</span></a>
				<a class="fbtn fbtn-brand waves-attach waves-circle waves-light" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text fbtn-text-left">Follow Daemon on Twitter</span><span class="icon">share</span></a>
				<a class="fbtn fbtn-green waves-attach waves-circle" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text fbtn-text-left">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>
	
	<!-- js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js">
</script>
	<script src="../js/base.min.js">
</script>
	<script src="../js/project.min.js">
</script>
</body>
</html>
