<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>小蚁</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">
	<link href="../css/project.min.css" rel="stylesheet">
	
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<header class="header header-transparent header-waterfall ui-header">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#ui_menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="main.html" style="font-family: Microsoft Yahei;">小蚁</a>
		<ul class="nav nav-list pull-right">
			<li class="dropdown margin-right">
				<a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown" style="font-family: Microsoft Yahei;">
					<span class="access-hide">John Smith</span>
					<span>Jane Doe</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)" style="font-family: Microsoft Yahei;"><span class="icon icon-lg margin-right">payment</span>我的订单</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)" style="font-family: Microsoft Yahei;"><span class="icon icon-lg margin-right">settings</span>设置</a>
					</li>
				</ul>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1" style="font-family: Microsoft Yahei;">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="main.html">小蚁</a>
				<ul class="nav">
					<li><a class="collapsed waves-attach" data-toggle="modal" href="#location_modal" style="font-size: 22px;"><span class="icon">location_on</span>&nbsp;&nbsp;忻府区</a></li>

					<li><a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_extras" style="font-size: 22px;"><span class="icon">home</span>&nbsp;&nbsp;主页</a></li>

					<li><a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_extras" style="font-size: 22px;"><span class="icon">explore</span>&nbsp;&nbsp;发现</a></li>

					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_components" style="font-size: 22px;"><span class="icon">view_compact</span>&nbsp;&nbsp;主题市场</a>
						<ul class="menu-collapse collapse" id="ui_menu_components" style="font-size: 16px;">
							<li><a class="waves-attach">服饰箱包</a></li>
							<li><a class="waves-attach">母婴用品</a></li>
							<li><a class="waves-attach">护肤彩妆</a></li>
							<li><a class="waves-attach">汇吃美食</a></li>
							<li><a class="waves-attach">家居家纺</a></li>
							<li><a class="waves-attach">百货市场</a></li>
							<li><a class="waves-attach">汽车·用品</a></li>
							<li><a class="waves-attach">家电数码</a></li>
							<li><a class="waves-attach">更多服务</a></li>
							<li><a class="waves-attach">运动户外</a></li>
							<li><a class="waves-attach">花鸟文娱</a></li>
							<li><a class="waves-attach">农资采购</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="content">
		<div class="content-header ui-content-header" style="background-color: #ff6401;" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="content-heading" style="font-family: Microsoft Yahei; font-size: 32px">最新热卖</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
					<section class="content-inner margin-top-no">
						<div class="ui-card-wrap">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<div class="card">
										<a class="waves-attach waves-effect" data-toggle="modal" href="#dove_modal" style="color: #212121;">
											<div class="card-main">
												<div class="card-img">
													<img alt="alt text" src="../images/samples/dove.jpg" style="width: 100%;">
												</div>
												<div class="card-header">
														<div class="card-inner">
															<span class="card-heading" style="font-family: Microsoft Yahei;">德芙巧克力（盒装）<span class="card-heading pull-right" style="color: #F40">¥ 36.90</span></span><br><div style="font-size: 14px; font-family: Microsoft Yahei;"><span class="icon">store</span>华美超市<span class="card-heading pull-right" style="font-size: 14px;"></span></div>
														</div>
												</div>
												<div class="card-inner" style="font-family: Microsoft Yahei;">
													<p>纵享德芙新丝滑</p>
												</div>

												<div class="card-action">
													<div class="card-action-btn pull-right">
														<a class="btn btn-flat waves-attach waves-effect" style="font-family: Microsoft Yahei;"><span class="icon">add_shopping_cart</span>&nbsp;加入购物车</a>
														<a class="btn btn-flat waves-attach waves-effect" style="font-family: Microsoft Yahei;"><span class="icon">navigate_next</span>&nbsp;购买</a>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>

								<div class="col-lg-4 col-sm-6">
									<div class="card">
										<a class="waves-attach waves-effect" data-toggle="modal" href="#bottle_modal" style="color: #212121;">
											<div class="card-main">
												<div class="card-img">
													<img alt="alt text" src="../images/samples/chair.jpg" style="width: 100%;">
												</div>

												<div class="card-header">
													<div class="card-inner">
														<span class="card-heading" style="font-family: Microsoft Yahei;">小板凳<span class="card-heading pull-right" style="color: #F40">¥ 79.00</span></span><br><div style="font-size: 14px; font-family: Microsoft Yahei;"><span class="icon">store</span>国美电器<span class="card-heading pull-right" style="font-size: 14px;"></span></div>
													</div>
												</div>

												<div class="card-inner" style="font-family: Microsoft Yahei;">
													<p>限量版小板凳</p>
												</div>

												<div class="card-action">
													<div class="card-action-btn pull-right">
														<a class="btn btn-flat waves-attach waves-effect" style="font-family: Microsoft Yahei;"><span class="icon">add_shopping_cart</span>&nbsp;加入购物车</a>
														<a class="btn btn-flat waves-attach waves-effect" style="font-family: Microsoft Yahei;"><span class="icon">navigate_next</span>&nbsp;购买</a>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>

								<div class="col-lg-4 col-sm-6">
									<div class="card">
										<a class="waves-attach waves-effect" data-toggle="modal" href="#bottle_modal" style="color: #212121;">
											<div class="card-main">
												<div class="card-img">
													<img alt="alt text" src="../images/samples/bottle.jpg" style="width: 100%;">
												</div>

												<div class="card-header">
													<div class="card-inner">
														<span class="card-heading" style="font-family: Microsoft Yahei;">奶壶壶<span class="card-heading pull-right" style="color: #F40">¥ 89.25</span></span><br><div style="font-size: 14px; font-family: Microsoft Yahei;"><span class="icon">store</span>鑫鹏日化<span class="card-heading pull-right" style="font-size: 14px;"></span></div>
													</div>
												</div>
												<div class="card-inner" style="font-family: Microsoft Yahei;">
													<p>赵怡然的奶壶壶</p>
												</div>

												<div class="card-action">
													<div class="card-action-btn pull-right">
														<a class="btn btn-flat waves-attach waves-effect" style="font-family: Microsoft Yahei;"><span class="icon">add_shopping_cart</span>&nbsp;加入购物车</a>
														<a class="btn btn-flat waves-attach waves-effect" style="font-family: Microsoft Yahei;"><span class="icon">navigate_next</span>&nbsp;购买</a>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>

	<div aria-hidden="true" class="modal fade" id="location_modal" role="dialog" tabindex="-1" style="top: 220px;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">×</a>
					<h2 class="modal-title" style="font-family: Microsoft Yahei;">请选择所在地区</h2>
				</div>
				<div class="modal-inner">
					<a class="btn btn-flat" style="font-family: Microsoft Yahei;"> 忻府区 </a>
				</div>
				<div class="modal-footer" style="font-family: Microsoft Yahei;">
					<p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal"	 type="button">取消</button><button class="btn btn-flat btn-brand waves-attach" data-dismiss=	"modal" type="button">确认</button></p>
				</div>
			</div>
		</div>
	</div>

	<!-- 
	<div aria-hidden="true" class="modal fade" id="dove_modal" role="dialog" tabindex="-1" style="top: 220px;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">×</a>
					<h2 class="modal-title" style="font-family: Microsoft Yahei;">德芙巧克力（盒装）</h2>
				</div>
				<div class="modal-inner">
					
				</div>
				<div class="modal-footer">
					<p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal"	 type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" data-dismiss=	"modal" type="button">OK</button></p>
				</div>
			</div>
		</div>
	</div>


	<div aria-hidden="true" class="modal fade" id="chair_modal" role="dialog" tabindex="-1" style="top: 220px;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">×</a>
					<h2 class="modal-title">Modal Title</h2>
				</div>
				<div class="modal-inner">
					
				</div>
				<div class="modal-footer">
					<p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal"	 type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" data-dismiss=	"modal" type="button">OK</button></p>
				</div>
			</div>
		</div>
	</div>


	<div aria-hidden="true" class="modal fade" id="bottle_modal" role="dialog" tabindex="-1" style="top: 220px;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">×</a>
					<h2 class="modal-title">Modal Title</h2>
				</div>
				<div class="modal-inner">
					
				</div>
				<div class="modal-footer">
					<p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal"	 type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" data-dismiss=	"modal" type="button">OK</button></p>
				</div>
			</div>
		</div>
	</div> -->
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" style="background-color: #ff6401;"><span class="icon">shopping_cart</span></a>
		</div>
	</div>

	<!-- js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js">
</script>
	<script src="../js/base.min.js">
</script>
	<script src="../js/project.min.js">
</script>
</body>
</html>
